h1, h2, h3, h4, p {
  margin:0;
  padding:0;
}

h1 {
  font-size:2.4em;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.4em;
}

h4 {
  font-size:1em;
}

p {
  margin:10px auto;
}

select option {
  box-shadow: inset 20px 20px #171217;
}

select option:hover {
  box-shadow: inset 20px 20px #373238;
}

.document {
  background-color:#27222e;
  color:#c4bfc8;
}

.container {
  margin:10px auto;
  width:1000px;
}

/* Headings */
.h-title {
  font-size:4em;
  font-weight:bold;
  margin:50px auto 40px;
}

.h-major {
  margin:30px auto 20px;
}

.h-minor {
  margin:15px auto 5px;
}

/* Text appearance */
.sans-serif {
  font-family:'Roboto', sans-serif;
}

.monospace {
  font-family:'Fira Mono', monospace;
}

.text-center {
  text-align:center;
}

.input-dark {
  background-color:#171217;
  border:2px solid #373238;
}

.output {
  margin:25px 5px;
  height:361px;
  padding:5px;
  resize:none;
  width:780px;
}

.block-col {
  background-color:#898;
  display:inline-block;
  width:25%;
  vertical-align:top;
}

.input-text {
  margin-bottom:10px;
  padding:5px;
  width:180px;
}

.select {
  margin:auto;
  padding:3px 2px;
  width:194px;
}

.option {
  padding-left:6px;
}

.red-border {
  border:2px solid #da1920;
}

/* Buttons */
.btn {
  background-color:#373238;
  border:0;
  color:#c4bfc8;
  cursor:pointer;
  font-size:1.2em;
  margin:20px auto;
  padding:5px 0;
  width:794px;
}

.btn-lg {
  font-size:1.5em;
}

.btn-sm {
  font-size:1em;
}

.btn:hover {
  background-color:#474248;
}

.btn:active {
  background-color:#575258;
}
