/* Tags */
h1, h2, h3, h4, p {
  margin:0;
  padding:0;
}

h1 {
  font-size:2.4em;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.4em;
}

h4 {
  font-size:1em;
}

select, select option {
  box-shadow: inset 20px 20px #171217;
  cursor:pointer;
}

select option:hover {
  box-shadow: inset 20px 20px #373238;
}

/* General cosmetics */
.document {
  background-color:#e3ddd2;
  color:#181b22;
}

.dark-border {
  border:2px solid #171217;
}

.red-border {
  border:2px solid #da1920;
}

/* Layout */
.container {
  margin:auto;
  width:1000px;
}

.block {
  padding:0 0 20px;
}

.block-col {
  display:inline-block;
  margin:auto 2.8%;
  width:19.4%;
  vertical-align:top;
}

.input-text {
  padding:5px;
  width:180px;
}

.select {
  margin:auto;
  padding:3px 2px;
  width:194px;
}

.text-center {
  text-align:center;
}

.option {
  padding-left:6px;
}

/* Headings */
.h-title {
  font-size:4em;
  font-weight:bold;
  margin:50px auto;
}

.h-major {
  margin:30px auto;
}

.h-minor {
  margin:15px auto 5px;
}

/* Text appearance */
.sans-serif {
  font-family:'Roboto', sans-serif;
}

.monospace {
  font-family:'Fira Mono', monospace;
}

.input-dark {
  background-color:#171217;
  border:2px solid #171217;
  color:#e3ddd2;
}

.output {
  margin:25px 5px;
  height:361px;
  padding:5px;
  resize:none;
  width:780px;
}

/* Buttons */
.btn {
  background-color:#171217;
  border:0;
  color:#e3ddd2;
  cursor:pointer;
  font-size:1.2em;
  margin:20px 40%;
  padding:5px 0;
  width:20%;
}

.btn-primary {
  margin:40px 30%;
  width:40%;
}

.btn-text-lg {
  font-size:1.5em;
}

.btn-text-sm {
  font-size:1em;
}

.btn:hover {
  background-color:#272227;
}

.btn:active {
  background-color:#373237;
}
